# Udev rules for udevmountd

# Skip 'add' events for device-mapper
ACTION=="add", SUBSYSTEM=="block", KERNEL=="dm-*", GOTO="skip_mount"
ACTION=="add", SUBSYSTEM=="block", KERNEL=="md*", GOTO="skip_mount"
# don't handle crypto devices, boot.crypto does that already (bnc#569942)
ACTION=="change", SUBSYSTEM=="block", KERNEL=="dm-*", ENV{DM_TARGET_TYPES}=="crypt", GOTO="skip_mount"
ACTION=="add|change", SUBSYSTEM=="block", ENV{FSTAB_OPTS}=="*nofail*", ENV{FSTAB_OPTS}!="*noauto*", IMPORT{program}="udevmountd"

ACTION=="add|change", ENV{FSCK_STATE}=="unknown|clean", RUN+="udevmountd add"
ACTION=="remove", ENV{FSTAB_OPTS}=="*nofail*", ENV{FSTAB_OPTS}!="*noauto*", RUN+="udevmountd remove"

LABEL="skip_mount"
