Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
*.o
*.spec
*.tar.gz
*.tar.bz2
sysconfig-*
tools/autoip
tools/ifuser
tools/udevmountd
doc/netconfig.8
config/sysconfig.config-network
config/sysconfig.config-netconfig
config/sysconfig.config-netconfig-dns
config/sysconfig.config-netconfig-ntp
config/sysconfig.config-netconfig-nis
scripts/ppp/ip-up
scripts/functions.netconfig
scripts/netconfig
scripts/netconfig.d/nis
scripts/netconfig.d/dns-bind
scripts/netconfig.d/dns-dnsmasq
scripts/netconfig.d/dns-resolver
scripts/netconfig.d/ntp-runtime
