# Driver module ipw3945 requires an userspace daemon to register network
# interfaces. 
SUBSYSTEM=="drivers", ACTION=="add", DEVPATH=="/bus/pci/drivers/ipw3945", RUN+="ipw3945d.sh"

#
# Apply per interface sysctl settings before setup (see man 5 ifsysctl):
#
SUBSYSTEM=="net", ACTION=="add", RUN+="/etc/sysconfig/network/scripts/ifup-sysctl $env{INTERFACE} -o hotplug"

#
# The following rules are to:
# - mark a (physical) interface as renamed to it's persistent name and
#   ready to configure by the network service.
# - set up a (physical) network interface automatically when there is
#   a configuration for and the network service is already active.
# - clean up things by calling ifdown when the interface gets removed
#   (e.g. kill ifplugd or another daemon) and in fact vanished already.
# 
# There are (virtual) interfaces, which are created with ifup. We have
# to ignore these interfaces to avoid nested ifup / ifdown execution.
# We do it here name based for the well known/default interface names,
# ifup makes it again by interface type to catch also custom names.
#
SUBSYSTEM=="net", ENV{INTERFACE}=="lo*|dummy*|vif*.*|br*|bond*|vlan*|gre*|sit*|tap*|tun*|ipip*|ip6tnl*|ipsec*|ppp*|ippp*|isdn*|modem*|dsl*|plip*|irda*", GOTO="skip_ifup"
SUBSYSTEM=="net", ACTION=="add", RUN+="/sbin/ifup $env{INTERFACE} -o hotplug"
SUBSYSTEM=="net", ACTION=="remove", RUN+="/sbin/ifdown %k -o hotplug"
LABEL="skip_ifup"
